.text-center {
	text-align: center;
}

#sidebar .affix {
	top: 30px;
}

#sidebar .affix-top {
	position: static;
	top: 290px;
}

#content > div {
	margin-top: -30px;
	padding-bottom: 50px;
}

#content h2 {
	margin-top: 0;
	padding-top: 30px;
}

h2 { margin-top: 30px; }
.container-flow.alt { background: #eee; }
.list-inline li { padding: 0; }

.delete-button,
.edit-button {
	float: right;
	margin: 0 3px;
}

.delete-button:hover,
.delete-button {
	color: #a00;
}

.edit-button:hover,
.edit-button {
	color: #0086c6;
}

.delete-button .fa-trash-o.hover:hover::before {
	content: "\f1f8";
}

.edit-button .fa-file-text-o.hover:hover::before {
	content: "\f15c";
}

.menu-level-1 {}
.menu-level-2 { padding-left: 30px; }
.menu-level-3 { padding-left: 45px; }
.menu-level-4 { padding-left: 60px; }

.hover-pointer:hover { cursor: pointer; }

.smaller { font-size: 40%; }

@media (min-width: 992px) {
	#sidebar .affix {
		width: 262.5px;
	}
}